@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiDataGrid-scrollbar--horizontal {
  display: block !important;
}

@font-face {
  font-family: "AMG Bold Italic";
  src: local("AMG-BOLD ITALIC"),
    url("./assets/fonts/AMG-BOLD ITALIC.TTF") format("truetype");
}

@font-face {
  font-family: "AMG Bold";
  src: local("AMG-BOLD"),
    url("./assets/fonts/AMG-BOLD.TTF") format("truetype");
}

@font-face {
  font-family: "AMG ExtraLight Italic";
  src: local("AMG-EXTRALIGHT ITALIC"),
    url("./assets/fonts/AMG-EXTRALIGHT ITALIC.TTF") format("truetype");
}

@font-face {
  font-family: "AMG ExtraLight";
  src: local("AMG-EXTRALIGHT"),
    url("./assets/fonts/AMG-EXTRALIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "AMG Light Italic";
  src: local("AMG-LIGHT ITALIC"),
    url("./assets/fonts/AMG-LIGHT ITALIC.TTF") format("truetype");
}

@font-face {
  font-family: "AMG Light";
  src: local("AMG-LIGHT"),
    url("./assets/fonts/AMG-LIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "AMG Thin Italic";
  src: local("AMG-THIN ITALIC"),
    url("./assets/fonts/AMG-THIN ITALIC.TTF") format("truetype");
}

@font-face {
  font-family: "AMG Thin";
  src: local("AMG-THIN"),
    url("./assets/fonts/AMG-THIN.TTF") format("truetype");
}